:root {
	--team-member-title-color: rgb(244, 144, 144);
	--team-member-bio-color: rgb(100, 200, 250);
}

.wp-block-blocks-course-team-members {
	background-color: rgb(224, 250, 254);
	padding: 2px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	border-radius: 10px;

	@for $i from 1 through 6 {
		&.has-#{$i}-columns {

			.wp-block-blocks-course-team-member {
				flex: 0 0 calc((100% / #{$i} - 20px));
			}
		}
	}

	.wp-block-blocks-course-team-member {
		text-align: center;

		.block-team-member-img img {
			margin-top: 10px;
			margin-bottom: 10px;
			border-radius: 20px;
		}

		h4 {
			font-size: 1.5rem;
			font-weight: 800;
			color: var(--team-member-title-color);
			margin-top: 0.5rem;
			margin-bottom: 0.5rem;
		}

		p {
			font-size: 1rem;
			font-weight: 400;
			font-style: italic;
			color: var(--team-member-bio-color);
			margin-top: 0.2rem;
			margin-bottom: 0.2rem;
		}

		.blocks-course-team-member-social-links {

			ul {
				list-style: none;
				display: flex;
				gap: 10px;
				padding: 0;
				margin: 0;
				justify-content: center;

				li {

					a {
						background: transparent;
						text-decoration: none;
						border: none;
						color: #4e4e4e;
					}
				}
			}
		}
	}
}
